  <footer class="pie-pagina" id="footer">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/img/logo4.png" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
       
        <div class="box">
            <h2>Aviso de Privacidad</h2>
            <p>En SmartAgriTech el tratamiento de datos es para</p>
            <p>Configurar y administrar su cuenta de usuario.</p>
            <p>Ofrecer asistencia técnica y soporte.</p>
            <p>Enviar actualizaciones sobre nuestros productos y servicios.</p>
            <p>Realizar estudios internos sobre hábitos de consumo y eficiencia agrícola.</p>
        </div>
       
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
            <a href="https://www.facebook.com/profile.php?id=61559679063816" class="fa-brands fa-facebook" target="_blank" rel="noopener noreferrer"></a>
            <a href="https://www.tiktok.com/@felix_theagronomist/video/7290514816605670662?q=sensores%20para%20agricultura&t=1715841557100" class="fa-brands fa-tiktok" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
        
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>AgroSmart Solutions</b> - Todos los Derechos Reservados.</small>
        <p>Diseñado por Christian Martinez Torrealba</p>
      </div>
</footer>