<nav>
  <div class="nav-wrapper  green accent-4">
    <a href="#" class="brand-logo"><img src="assets/img/logo1.png" alt=""></a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#inicio">{{inicio}}</a></li>
      <li><a href="#historia">{{historia}}</a></li>
      <li><a href="#productos">{{producto}}</a></li>
      <li><a href="#video">{{video}}</a></li>
      <li><a href="#paqutes">{{paquetes}}</a></li>
      <li><a href="#contacto">{{contacto}}</a></li>
      <li><a href="#mapa">{{mapa}}</a></li>
      <li><a href="#footer">{{footer}}</a></li>
    
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../../assets/img/fondo.jpg">
      </div>
      <a href="#"><img class="circle" src="assets/img/avatar.png"></a>
      <a href="#"><span class="white-text name">Christian Martinez Torrealba</span></a>
      <a href="#"><span class="white">cristian.ckangmail.com</span></a>
    </div>
  </li>
  <li><a class="waves-effect" href="#inicio"><i class="material-icons colorIcono">home</i>{{inicio}}</a></li>
  <li><a class="waves-effect" href="#historia"><i class="material-icons colorIcono">change_history</i>{{historia}}</a></li>
  <li><a class="waves-effect" href="#productos"><i class="material-icons colorIcono">pages</i>{{producto}}</a></li>
  <li><a class="waves-effect" href="#video"><i class="material-icons colorIcono">featured_video</i>{{video}}</a></li>
  <li><a class="waves-effect" href="#paqutes"><i class="material-icons colorIcono">local_grocery_store</i>{{paquetes}}</a></li>
  <li><a class="waves-effect" href="#contacto"><i class="material-icons colorIcono">contacts</i>{{contacto}}</a></li>
  <li><a class="waves-effect" href="#mapa"><i class="material-icons colorIcono">map</i>{{mapa}}</a></li>
  <li><a class="waves-effect" href="#footer"><i class="material-icons colorIcono">card_giftcard</i>{{footer}}</a></li>
  
</ul>