<hr>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Historia</h1>
        </div>
    </div>
</div>


<section id="historia">
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="parallax"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h1>Objetivos Generales</h1>
                <p>
                  Ofrecemos sensores para monitorear agua, crecimiento de frutos y nutrientes, 
                  mejorando el manejo de cultivos 
                  mediante una base de datos accesible y nuestros servicios.Implementar sensores avanzados en los cultivos
                  Se utilizan sensores de humedad, nutrientes y crecimiento de frutos para recoger datos precisos que 
                  facilitan un manejo agrícola más eficiente.
                  Optimizar el uso de recursos naturales
                  En la agricultura, promoviendo prácticas de riego y fertilización más precisas y eficientes, 
                  lo que conduce a una reducción significativa del desperdicio de agua y suplementos.
                 
                </p>
            </div>
        </div>
        <div class="parallax2">
    
        </div>
       
    </div>
    </section>
